body {
    background-image: url("../picture/space_picture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.chinpic {
    background-image: url("../picture/chinjung2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.meanpic {
    background-image: url("../picture/indexmean.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}